<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<style>
    #reset-pass-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 43.2rem;
    }

    #resetPass-child-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15rem;
    }

    #resetPassword {
        color: aqua;
        width: 10rem;
        height: 1.5rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        background: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0px 0px 20px darkcyan;
        position: absolute;
        bottom: 12rem;
    }

    .reset-pass-inps {
        background: #69696978;
        padding: 0.2rem;
        font-size: 1rem;
    }

    #resetPass-child-cont>div {
        display: flex;
        justify-content: end;
    }

    #resetPass-child-cont>div>label {
        font-size: 1.3rem;
        color: white;
    }

    #reset-pass-cont>h1 {
        box-shadow: 0px 2px 4px cyan;
        padding: 0.5rem;
        position: absolute;
        top: 8rem;
        color: cyan;
    }
</style>

<body>
    <form id="reset-pass-cont" method="post" enctype="application/x-www-form-urlencoded">
        <h1>Reset Password</h1>
        <div id="resetPass-child-cont">
            <div><label for="oldPass">Old Password : </label> <input type="text" id="oldPass" name="oldPassword"
                    class="reset-pass-inps" placeholder="enter old Password" name="Password" required>
            </div>
            <div><label for="newPass">New Password : </label> <input type="text" id="newPass" name="newPassword"
                    class="reset-pass-inps" placeholder="enter new Password" name="newPassword" required>
            </div>
            <div><label for="cnfPass">Confirm Password : </label> <input type="text" id="cnfPass"
                    placeholder="confirm new Password" class="reset-pass-inps" required>
            </div>
        </div>
        <button type="submit" id="resetPassword">submit</button>
    </form>

    <script id="js">
        
        function eye() {
            if (document.getElementById('pass').type == "password") {
                document.getElementById('pass').type = "text";
                document.querySelectorAll('.eye')[0].style.visibility = "visible";
                document.querySelectorAll('.eye')[1].style.visibility = "hidden";
            } else {
                document.getElementById('pass').type = "password";
                document.querySelectorAll('.eye')[0].style.visibility = "hidden";
                document.querySelectorAll('.eye')[1].style.visibility = "visible";
            }
        }


        // // success msg popup for signup & contact form
        // function popUp(message) {
        //     document.getElementById('form-submitted-cont').style.display = 'block'; // show "Form submitted" message
        //     document.getElementById('form-submitted-cont').style.display = 'flex';
        //     document.getElementById('form-submitted-message').innerHTML = message;
        // }
        // // it closes the above popup
        // function CloseOK() {
        //     document.getElementById('form-submitted-cont').style.display = 'none';
        // }

        // function validateForm() {
        //     clearError();
        //     let returnVal = true;
        //         let password = document.forms['sign-up-form']["password"].value;
        //         if (password.length < 6) {
        //             setError("sign-password", "*password length should be minimum 6.");
        //             returnVal = false;
        //         }
        //         if (!(/[A-Z]/.test(password))) {
        //             setError("sign-password", "*password should atleast contain a capital letter");
        //             returnVal = false;
        //         }
        //         if (!(/[a-z]/.test(password))) {
        //             setError("sign-password", "*password should atleast contain a small letter");
        //             returnVal = false;
        //         }
        //         if (!(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(password))) {
        //             setError("sign-password", "*password should atleast contain a special character");
        //             returnVal = false;
        //         }
        //         let cnfPassword = document.forms['sign-up-form']['cnf-password'].value;
        //         if (cnfPassword != password) {
        //             setError("sign-cnfpassword", "*passwords do not match.");
        //             returnVal = false;
        //         }
        //     }

        document.getElementById('resetPassword').addEventListener('click', async (e) => {

            e.preventDefault();
            try {
                const response = await fetch('/dashbord/passwordReset', { // send request to /signUp endpoint
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        oldPassword: document.getElementById('oldPass').value,
                        newPassword: document.getElementById('newPass').value
                    }) // send the JSON object
                });
                const result = await response.json(); // parse response as JSON
                if (result.success) {
                    alert('your password changed successfully.')
                    const inputs = document.getElementsByTagName('input');
                    for (let i = 0; i < inputs.length; i++) {
                        inputs[i].value = "";
                    }            // popUp("your password changed successfully.");
                } else {
                    alert('invalid old Password.')
                    // popUp("Something went wrong! try again later.")
                    console.error('Error submitting form:', result.error);
                }
            } catch (error) {
                popUp("Something went wrong! try again later.")
                console.error('Error submitting form:', error);
            }
        })
    </script>
</body>

</html>